{% extends 'rango/base.html' %}

{% block title_block %}
    Home
{% endblock %}

{% block content %}
    <h2>Rango says...</h2>
    <p>hey there partner!</p>

    <div>
        <strong>{{ boldmessage }}</strong><br />
    </div>

    <h3>Most Liked Categories</h3>
    {% if categories %}
        <ul>
            {% for category in categories %}
                <li><a href="{% url 'rango:show_category' category.slug %}">{{ category.name }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <strong>There are no categories present.</strong>
    {% endif %}

    <h3>Most Viewed Pages</h3>
    {% if pages %}
        <ul>
            {% for page in pages %}
                <li><a href="{{ page.url }}">{{ page.title }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <strong>There are no pages present.</strong>
    {% endif %}

{% endblock %}
